In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv(r"C:\Users\khushi pawar\Downloads\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df['city'].nunique()

4

In [6]:
df['cough'].nunique()

2

In [7]:
df['gender'].nunique()

2

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'])

In [10]:
X_train

    age  gender  fever   cough       city
32   34  Female  101.0  Strong      Delhi
25   23    Male    NaN    Mild     Mumbai
74   34  Female  104.0  Strong      Delhi
85   16  Female  103.0    Mild  Bangalore
66   51    Male  104.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
88    5  Female  100.0    Mild    Kolkata
28   16    Male  104.0    Mild    Kolkata
27   33  Female  102.0  Strong      Delhi
7    20  Female    NaN  Strong     Mumbai
95   12  Female  104.0    Mild  Bangalore

[75 rows x 5 columns]

In [11]:
y_train

32    Yes
25     No
74     No
85    Yes
66     No
     ...
88     No
28     No
27     No
7     Yes
95     No
Name: has_covid, Length: 75, dtype: object

In [12]:
from sklearn.compose import ColumnTransformer

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [17]:
transformer=ColumnTransformer(transformers=[
    ('t1',SimpleImputer(),['fever']),
    ('t2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('t3',OneHotEncoder(sparse_output=False,dtype=int,drop='first'),['gender','city'])
],remainder='passthrough')

In [18]:
aa=transformer.fit_transform(X_train).shape

In [19]:
aa

(75, 7)

In [20]:
transformer.transform(X_test).shape

(25, 7)