In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import KBinsDiscretizer

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [5]:
df = pd.read_csv(r"C:\Users\khushi pawar\Downloads\train.csv",usecols=['Age','Fare','Survived'])

In [6]:
df.sample(2)

    Survived   Age  Fare
72         0  21.0  73.5
83         0  28.0  47.1

In [12]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [13]:
X = df.iloc[:,1:3]
Y = df.iloc[:,0]

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [15]:
clf=DecisionTreeClassifier()

X_trained=clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [16]:
accuracy_score(y_test,y_pred)

0.6815642458100558

In [17]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,Y,cv=10,scoring='accuracy'))

0.6520973782771536

In [20]:
kbin_age=KBinsDiscretizer(n_bins=10,strategy='quantile',encode='ordinal')
kbin_fare=KBinsDiscretizer(n_bins=15,strategy='uniform',encode='ordinal')

In [23]:
trf=ColumnTransformer([
    ("k_age",kbin_age,[0]),
    ("k_fare",kbin_fare,[1])])

In [27]:
X_train_trf=trf.fit_transform(X_train)
X_test_trf=trf.transform(X_test)

C:\Users\khushi pawar\anaconda3\Lib\site-packages\sklearn\preprocessing\_discretization.py:279: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(

In [29]:
trf.named_transformers_['k_age'].bin_edges_

array([array([ 0.42      , 16.        , 21.        , 24.        , 28.        ,
              29.69911765, 32.        , 38.        , 47.        , 80.        ])],
      dtype=object)

In [30]:
output= pd.DataFrame({
    'Age':X_train['Age'],
    'Age_trf':X_train_trf[:,0],
    'Fare':X_train['Fare'],
    'Fare_trf':X_train_trf[:,1]})

In [32]:
output.head(10)

           Age  Age_trf      Fare  Fare_trf
331  45.500000      7.0   28.5000       0.0
733  23.000000      2.0   13.0000       0.0
382  32.000000      6.0    7.9250       0.0
704  26.000000      3.0    7.8542       0.0
813   6.000000      0.0   31.2750       0.0
118  24.000000      3.0  247.5208       7.0
536  45.000000      7.0   26.5500       0.0
361  29.000000      4.0   27.7208       0.0
29   29.699118      5.0    7.8958       0.0
55   29.699118      5.0   35.5000       1.0