In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = np.round(pd.read_csv(r'C:\Users\khushi pawar\Downloads\50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
np.random.seed(9)
df = df.sample(5)
df

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [4]:
df = pd.DataFrame(df.iloc[:,0:3])

In [5]:
df.iloc[1,0]=np.NaN
df.iloc[3,1]=np.NaN
df.iloc[4,2] = np.NaN

In [6]:
df

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        NaN             5.0             20.0
2        15.0            10.0             41.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [7]:
#step 1 fill NaN value with mean value

df0 = pd.DataFrame()

df0['R&D Spend'] = df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [8]:
df0

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37       9.25            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [9]:
df1 = df0.copy()

In [10]:
df1.iloc[1,0] = np.NaN

In [11]:
df1

    R&D Spend  Administration  Marketing Spend
21        8.0           15.00            30.00
37        NaN            5.00            20.00
2        15.0           10.00            41.00
14       12.0           11.25            26.00
44        2.0           15.00            29.25

In [12]:
X = df1.iloc[[0,2,3,4],1:]
Y = df1.iloc[[0,2,3,4],0]

In [13]:
li=LinearRegression()
li.fit(X,Y)
#li.predict(df1.iloc[1,1:].values.reshape(1,2))
li.predict(df1.iloc[[1],1:3])
#df1.iloc[1,1:].values.reshape(1,2) ====> isme wo 5.00,20.00 lera hai or predict kr rha hai value R&D col ki NaN value hai

array([23.14158651])

In [14]:
df1.iloc[1,0]=23.14

In [15]:
df1

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37      23.14            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [16]:
df1.iloc[3,1] = np.NaN

X = df1.iloc[[0,1,2,4],[0,2]]
Y = df1.iloc[[0,1,2,4],1]

li=LinearRegression()
li.fit(X,Y)
li.predict(df1.iloc[3,[0,2]].values.reshape(1,2))
#li.predict(df1.iloc[[3],[0,1]])
#df1.iloc[1,1:].values.reshape(1,2) ====> isme wo 12.00,26.00 lera hai or predict kr rha hai value R&D col ki NaN value hai

df1.iloc[3,1]=11.06

C:\Users\khushi pawar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [17]:
df1

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37      23.14            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.06            26.00
44       2.00           15.00            29.25

In [18]:
df1.iloc[4,2] = np.NaN

X = df1.iloc[[0,1,2,3],0:2]
Y = df1.iloc[[0,1,2,3],2]

li=LinearRegression()
li.fit(X,Y)
li.predict(df1.iloc[4,[0,1]].values.reshape(1,2))

df1.iloc[4,2] = 31.56

C:\Users\khushi pawar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [19]:
df1

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37      23.14            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.06            26.00
44       2.00           15.00            31.56

In [20]:
df2 = pd.DataFrame()

In [21]:
df2 = df1-df0

In [22]:
df2

    R&D Spend  Administration  Marketing Spend
21       0.00            0.00             0.00
37      13.89            0.00             0.00
2        0.00            0.00             0.00
14       0.00           -0.19             0.00
44       0.00            0.00             2.31