In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv(r"C:\Users\khushi pawar\Downloads\titanic_toy.csv")

In [4]:
df.sample(5)

      Age     Fare  Family  Survived
314  43.0  26.2500       2         0
421  21.0   7.7333       0         0
615  24.0  65.0000       3         1
672  70.0  10.5000       0         0
457   NaN  51.8625       1         1

In [5]:
X=df.iloc[:,0:3]
Y=df.iloc[:,-1]

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [7]:
impute1=SimpleImputer(strategy='constant',fill_value=999)
impute2=SimpleImputer(strategy='constant',fill_value=9999)

In [8]:
trf=ColumnTransformer([
    ('impute1',impute1,['Age']),
    ('impute2',impute2,['Fare'])
],remainder='passthrough')

In [9]:
X_train=trf.fit_transform(X_train)
X_test=trf.transform(X_test)

In [11]:

combined_array = np.vstack((X_train, X_test))

new_df=pd.DataFrame(combined_array,columns=['Age','Fare','Family'])

In [13]:
new_df.sample(15)

       Age       Fare  Family
170  999.0    56.4958     0.0
225   23.0    13.7917     0.0
706   16.0    46.9000     7.0
293   18.0    11.5000     0.0
141  999.0    35.0000     0.0
4      6.0    31.2750     6.0
452   17.0   110.8833     2.0
857   34.0    32.5000     2.0
701  999.0  9999.0000     0.0
572   14.0    46.9000     7.0
592   25.0   151.5500     3.0
722   37.0    53.1000     1.0
508    6.0    12.4750     1.0
494    1.0    46.9000     7.0
252  999.0    26.0000     0.0